<div id="member-list">
  Name(sorted by last) - State - Party - % Voting with Party
  <% @members.each do |member| %>
    <p style="margin-left: 20px";><a href="/congress_members/show"><%= "#{member[:full_name]} - #{member[:state]} - #{member[:party]} - #{member[:votes_with_party_pct]}" %></a></p>
  <% end %>
</div>

<div id="member_search_formdiv">
  <form id="member-search" action="/congress_members" method="post">
    <label>Full Name</label>
    <input type="text" name="full_name">
    <br><br>
    <label>State</label>
    <input type="text" name="state">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>

<div id="search-result-holder"></div>
