<div class="usa-grid usa-width-one-half" id="hub-container">
  <h1 class="usa-header"><%= current_user.username %>'s Hub</h1>
  <p>This project is in very early stages of development so there aren't many features yet.  This page will eventually serve as a central place for a user to manage their activities on the site.</p>
</div>

<div class="usa-grid usa-width-one-third hub-section">
  <p>Connections</p>
</div>

<div class="usa-grid usa-width-one-third hub-section">
  <h5>Your Political Identity</h5>
  <hr>
  <p>Take a quiz to determine your political stance:</p>
  <%= link_to "Take Quiz", '/quiz_responses/new' %>
</div>

<div class="usa-grid usa-width-one-third hub-section">
  <p>Connect with Congress</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Post</p>
  <p>Feed</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Debate</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Game</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Events</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Legislation</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>News</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Wiki</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Academia</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Petition</p>
</div>
<div class="usa-grid usa-width-one-third hub-section">
  <p>Institutions</p>
</div>
