<h3>Welcome <%= @user.username %></h3>

<% if @user.id != current_user.id && !friend?(@user.id) %>
  <%= link_to "Add Friend", friendships_path(add_id: @user.id), method: :post %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>
