/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// us design standards gem installation granting access to library css
@import 'uswds_rails_overrides/core/defaults';
@import 'uswds/all';
@import 'uswds_rails_overrides/all';

// google font
@import url('https://fonts.googleapis.com/css?family=Poppins');

$l-blue-box: rgb(182, 232, 250);

/* sets base style of background image for each page */
body {
  background-color: rgb(162, 213, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* set background image per page */
.auth-bg {
  background: image-url("uscapitol.jpg");
}

// --misc

// .btn-text {
//   color: rgb(255, 255, 255);
// }

// --nav

#nav-container {
  height: 101px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, white, $l-blue-box); /* Standard syntax (must be last) */
  position: fixed;
  width: 100%;
  top: 0px;
  -moz-box-shadow: 0 0 30px 5px #999;
  -webkit-box-shadow: 0 0 30px 5px #999;
}

#navbar {
  display: inline-block;
  float: right;
  margin: 25px 25px 0px 0px;
}

#nav-logo {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

#nav-title {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 15px;
  color: $color-cool-blue-light;
}

#nav-logged-user {
  display:inline-block;
  font-family: 'Poppins', sans-serif;
}

.nav-item {
  margin: 10px 10px 10px 10px;
  font-family: 'Poppins', sans-serif;
}

// --quiz

#quiz-form-box {
  background-color: $l-blue-box;
  max-width: 900px;
  border-radius: 5px;
  height: 1000px;
  padding: 20px 20px 20px 20px;
  display: inline-block;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 50px;
}

.quiz-dropdown {
  display: block;
  margin: 0 auto;
}

#quiz-button {
  display: block;
  margin: 0 auto;
}

#quiz-result-box {
  background-color: $l-blue-box;
  max-width: 650px;
  border-radius: 5px;
  height: 300px;
  padding: 20px 20px 20px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

// --auth

#registration-container {
  background-color: rgba(182, 232, 250, 0.7);
  max-width: 500px;
  min-width: 400px;
  border-radius: 5px;
  height: 850px;
  padding: 20px 20px 20px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 50px;
}

#login-container {
  background-color: rgba(182, 232, 250, 0.7);
  max-width: 500px;
  min-width: 400px;
  border-radius: 5px;
  height: 450px;
  padding: 20px 20px 20px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 50px;
}

.auth-inputs {
  display: block;
  margin: 0 auto;
  text-align: center;
}

// -- hub

#hub-container {
  background-color: $l-blue-box;
  // max-width: 500px;```
  // min-width: 400px;
  border-radius: 5px;
  height: 350px;
  padding: 1px 20px 20px 20px;
  // display: block;
  // margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 50px;
}

.hub-section {
  background-color: $l-blue-box;
  // max-width: 500px;
  // min-width: 400px;
  border-radius: 5px;
  height: 450px;
  padding: 1px 20px 20px 20px;
  // display: block;
  // margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hub-friend-sub-sec {
  display: inline-block;
  height: 360px;
  width: 325px;
  overflow: auto;
  padding-left: 20px;
}

.hub-c-member-sub-sec {
  display: inline-block;
  height: 360px;
  width: 325px;
  overflow: auto;
  padding-left: 20px;
}

// --congress member profile

#cong-mem-profile-container {
  background-color: $l-blue-box;
  border-radius: 5px;
  height: 2000px;
  padding: 1px 20px 20px 20px;
  margin-top: 130px;
  margin-bottom: 50px;
}

#cong-mem-basics-container {
  display: inline-block;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
  }
}

#member-profile-stats {
  width: 325px;
  display: inline-block;
  margin-left: 20px;
}

.profile-item-cont {
  width: 975px;
  display: block;
}

#member-votes-cont {
  overflow-y: auto;
  max-width: 975px;
  height: 500px;
  display: block;
}

// --user profile pages

#profile-page-main-cont {
  background-color: $l-blue-box;
  border-radius: 5px;
  min-height: 100px;
  overflow: hidden;
  padding: 1px 20px 20px 20px;
  margin-top: 130px;
  margin-bottom: 50px;
}

#profile-info-cont {
  background-color: rgb(124, 189, 255);
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-username-header {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}

#profile-photo-cont {
  border-radius: 10px;
  display: block;
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 20px;
}

#profile-posts-cont {
  background-color: rgb(124, 189, 255);
  min-height: 500px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1px 20px 20px 20px;
}

#profile-post-form-cont {
  width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.profile-post-cont {
  max-width: 975px;
  min-height: 100px;
  overflow: hidden;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 1px 20px 20px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#profile-post-edit-cont {
  float: right;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}

.profile-post-comment-cont {
  min-height: 60px;
  overflow: hidden;
  max-width: 900px;
  background-color: rgb(226, 226, 226);
  display: block;
  margin-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;

}

.comment-user-avatar {
  border-radius: 5px;
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.comment-body-cont {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  max-width: 750px;
}

.profile-post-edit-form-cont {
  margin-top: 130px;
  width: 480px;
  min-height: 200px;
  overflow:hidden;
  background-color: $l-blue-box;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.profile-comment-form-cont {
  margin-top: 130px;
  width: 480px;
  min-height: 200px;
  overflow:hidden;
  background-color: $l-blue-box;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}


// Ported CSS from Sinatra version that will probably not be needed
 // #member-list {
 //   background-color: rgba(182, 232, 250, 0.7);
 //   max-width: 500px;
 //   border-radius: 5px;
 //   height: 700px;
 //   margin: 50px 50px 50px 50px;
 //   overflow-y: auto;
 //   padding: 20px 20px 20px 20px;
 //   display: inline-block;
 // }
 //
 // #member_search_formdiv {
 //   display: inline-block;
 //   background-color: rgba(182, 232, 250, 0.7);
 //   max-width: 500px;
 //   border-radius: 5px;
 //   height: 125px;
 //   margin: 50px 50px 50px 0px;
 //   overflow-y: auto;
 //   padding: 20px 20px 20px 20px;
 //   vertical-align: top;
 // }
 //
 // #member-show {
 //   display: inline-block;
 //   background-color: rgba(182, 232, 250, 0.7);
 //   max-width: 700px;
 //   border-radius: 5px;
 //   height: 280px;
 //   margin: 50px 50px 50px 0px;
 //   padding: 20px 20px 20px 20px;
 // }
 //
 // #member-profile-img {
 //   display: inline-block;
 // }
 //
 // #member-show-basic_info {
 //   display: inline-block;
 //   vertical-align: top;
 //   line-height: inherit;
 // }
 //
 // #search-result-holder {
 //   display: inline-block;
 //   position: absolute;
 // }
