<div id="nav">
  <h1 style="display:inline-block; margin-left:50px; margin-right:50px;">L2R Stance</h1>
  <div id="navbar" style="display:inline-block; float:right; margin: 25px 25px 0px 0px;">
  <% if logged_in? %>
      <% current_user = User.find_by(id: session[:id]) %>
      <div style="display:inline-block;"><%= current_user.username %></div>
      <a style="margin: 10px 10px 10px 10px;" href='/users/:id'>Profile</a></li>
      <a style="margin: 10px 10px 10px 10px;" href='/logout'>Logout</a></li>
      <a style="margin: 10px 10px 10px 10px;" href='/'>Home</a></li>
  <% else %>
      <a style="margin: 10px 10px 10px 10px;" href='/users/new'>Register</a></li>
      <a style="margin: 10px 10px 10px 10px;" href='/sessions'>Login</a></li>
      <a style="margin: 10px 10px 10px 10px;" href='/'>Home</a></li>
  <% end %>
  </div>
</div>
