<div id="nav-container">
  <h1 id="nav-title">Digital Citizen</h1>
  <div id="navbar">
  <% if current_user %>
      <div id="nav-logged-user"><%= current_user.username %></div>
      <a class="nav-item" href='/users/:id'>Profile</a></li>
      <a class="nav-item" <%= link_to "Log out", '/sessions/:id', method: "delete" %></a></li>
      <a class="nav-item" href='/'>Home</a></li>
  <% else %>
      <a class="nav-item" href='/users/new'>Sign Up</a></li>
      <a class="nav-item" href='/sessions/new'>Login</a></li>
      <a class="nav-item" href='/'>Home</a></li>
  <% end %>
  </div>
</div>
